<header>
  <h1>Placemat</h1>
  <h2>Pretty Nice Placeholders™</h2>

  <p>Some pretty nice placeholder nouns for your site (people, places, and things), powered by <a href="http://imgix.com">imgix</a>. Simple and flexible. Made with love by <a href="https://twitter.com/paulstraw">Paul Straw</a>.</p>
</header>


<div class="examples">
  <img src="/people?w=410&amp;h=620">
  <img src="/places?w=150&amp;h=410">
  <img src="/people?w=150&amp;h=150">
  <img src="/places?w=310&amp;h=200">
  <img src="/people?w=150&amp;h=250&amp;txt=">
  <img src="/places?w=730&amp;h=200&amp;txt=Custom+Text+and+Overlays&amp;overlay_color=256891&amp;overlay_opacity=50">
</div>

<ul>
  <li>Places and things courtesy of <a href="http://unsplash.com">Unsplash</a>.</li>
  <li>People from Greg Peverill-Conti's <a href="http://www.flickr.com/photos/gregpc/">1000 faces project</a>. Licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/deed.en">Creative Commons BY-NC-SA 2.0</a>.</li>
  <li>Powered by <a href="http://imgix.com">imgix</a>, which totally solves images on the web. No, seriously.</li>
  <li>Placemat is a <a href="https://twitter.com/paulstraw">Paul Straw</a> jam.</li>
</ul>
