<header>
  <h1>Placemat</h1>
  <h2>Pretty Nice Placeholders™</h2>

  <p>Some pretty nice placeholder nouns for your site (people, places, and things), powered by <a class="imgix" href="http://imgix.com">imgix</a>. Simple and flexible. Made with love by <a href="https://twitter.com/paulstraw">Paul Straw</a>.</p>
</header>


<div class="examples">
  <img src="/people?w=410&amp;h=620">
  <img src="/places?w=150&amp;h=410">
  <img src="/people?w=150&amp;h=150&amp;random=1">
  <img src="/things?w=310&amp;h=200">
  <img src="/things?w=150&amp;h=250&amp;txt=0">
  <img src="/places?w=730&amp;h=200&amp;random=4&amp;txt=Custom+Text+and+Overlays&amp;txtclr=44E3E7EF&amp;overlay_color=B12B2E36&amp;overlay_blend=normal">
</div>

<article class="usage">
  <h3>Here's how to use it</h3>

  <p>The three current endpoints are <code>https://placem.at/people</code>, <code>https://placem.at/places</code>, and <code>https://placem.at/things</code>. Any one of those will actually give you a valid image back on its own, but you probably want to do something a little bit fancier. The good news is that all three endpoints accept the same parameters, so there's not too much to remember. Everything is controlled via a few simple <a href="https://en.wikipedia.org/wiki/Query_string">query string</a> parameters:</p>

  <dl>
    <dt>
      Width <code>w</code><br>
      <code class="example">https://placem.at/people?w=500</code>
    </dt>
    <dd>Specifies the width of the returned image. Can be used alone, or alongside <code>h</code>. A number in pixels.</dd>

    <dt>
      Height <code>h</code><br>
      <code class="example">https://placem.at/places?h=400</code>
    </dt>
    <dd>Specifies the height of the returned image. Can be used alone, or alongside <code>w</code>. A number in pixels.</dd>

    <dt>
      Random <code>random</code><br>
      <code class="example">https://placem.at/things?w=250&amp;random=some_seed</code>
    </dt>
    <dd>By default, Placemat will always return the same image for a given size. If you want to mix things up a bit, pass <code>random=1</code>. If you want to get the same "random" image every time, pass any other value for <code>random</code>, e.g. <code>random=hello</code> or <code>random=2</code>. This tends to be especially handy for the <code>/people</code> endpoint.</dd>

    <dt>
      Text <code>txt</code><br>
      <code class="example">https://placem.at/people?txt=Hello+World</code>
    </dt>
    <dd>Placemat will add your requested dimensions to the returned image by default, but you can bypass that by passing <code>txt=0</code>. If you want to display custom text, just send along something like <code>txt=Hello+World</code>!</dd>

    <dt>
      Text Color <code>txtclr</code><br>
      <code class="example">https://placem.at/places?txt=Hello+World&amp;txtclr=f00</code>
    </dt>
    <dd>Change the displayed text color. Accepts a 3 (RGB), 4 (ARGB), 6 (RRGGBB), or 8 digit (AARRGGBB) hexadecimal value. The first two digits of an 8 digit hex value represent the color's alpha transparency. Defaults to <code>BFFF</code>.</dd>

    <dt>
      Overlay Color <code>overlay_color</code><br>
      <code class="example">https://placem.at/things?overlay_color=0f0</code>
    </dt>
    <dd>Defines a custom overlay color. Accepts a 3 (RGB), 6 (RRGGBB) or 8 digit (AARRGGBB) hexidecimal value. The first two digits of an 8 digit hex value represent the color's alpha transparency. Defaults to <code>ACACAC</code></dd>

    <dt>
      Overlay Blend Mode <code>overlay_blend</code><br>
      <code class="example">https://placem.at/places?overlay_blend=difference</code>
    </dt>
    <dd>Allows changing the overlay's blend mode. Defaults to <code>multiply</code>, and can be assigned to any of the <a href="https://www.imgix.com/docs/reference/blend#param-blendmode">imgix blend modes</a>.</dd>
  </dl>
</article>

<ul class="credits">
  <li>Places and things courtesy of <a href="http://unsplash.com">Unsplash</a>.</li>
  <li>People from Greg Peverill-Conti's <a href="http://www.flickr.com/photos/gregpc/">1000 faces project</a>. Licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/deed.en">Creative Commons BY-NC-SA 2.0</a>.</li>
  <li>Powered by <a class="imgix" href="http://imgix.com">imgix</a>, which totally solves images on the web. No, seriously.</li>
  <li>Placemat is a <a href="http://paulstraw.com">Paul Straw</a> jam. You can check out the source on <a href="https://github.com/paulstraw/placemat">GitHub</a>.</li>
</ul>
