production:
  ix_host: your-production-source.imgix.net
  ix_secure_url_token: f00barproductiontoken
development:
  ix_host: your-development-source.imgix.net
  ix_secure_url_token: f00bardevelopmenttoken
test:
  ix_host: your-test-source.imgix.net
  ix_secure_url_token: f00bartesttoken
