production:
  s3_bucket: yourbucketname-production
  s3_access_key_id: loremaccess
  s3_secret_access_key: ipsumsecret
development:
  s3_bucket: yourbucketname-development
  s3_access_key_id: loremaccess
  s3_secret_access_key: ipsumsecret
test:
  s3_bucket: yourbucketname-test
  s3_access_key_id: loremaccess
  s3_secret_access_key: ipsumsecret
