* { margin: 0; padding: 0; border: 0; box-sizing: border-box; }
html { overflow-y: scroll; } // Always show scrollbar in non-IE
body, input, select, textarea, button { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; font-family: "proxima-nova", sans-serif; }

a { -webkit-tap-highlight-color: #2B2E36; }
::-moz-selection { background: #2B2E36; color: #fff; text-shadow: none; }
::selection { background: #2B2E36; color: #fff; text-shadow: none; }

body {
  background: #2B2E36;
  color: #E3E7EF;
  font-size: 17px;
  line-height: 26px;
}

header {
  text-align: center;
  max-width: 960px;
  margin: 2em auto;
  font-size: 24px;
  line-height: 38px;

  h1, h2 {
    text-transform: uppercase;
  }

  h1 {
    font-size: 120px;
    letter-spacing: 0.01em;
    line-height: 1;
  }

  h2 {
    font-size: 40px;
    font-weight: normal;
    color: #666D7F;
    letter-spacing: 0.05em;
  }

  p {
    max-width: 600px;
    margin: 2em auto 0;
  }
}

.examples {
  max-width: 730px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 450ms ease-out;

  &.loaded {
    opacity: 1;
    visibility: visible;
  }

  img {
    max-width: 100%;
  }
}

.usage {
  margin: 2em auto 0;
  max-width: 730px;
  font-size: 16px;
  line-height: 24px;

  code {
    background: #141619;
    padding: 0 4px;
    font-size: 15px;
    line-height: 21px;
    display: inline-block;
    border-radius: 2px;
  }

  h3 {
    margin-bottom: 0.5em;
  }

  dl {
    dt {
      font-size: 24px;
      font-weight: bold;
      margin: 1.5em 0 0.7em;

      code {
        font-size: 21px;
        line-height: 27px;
        padding: 0 6px;
        font-weight: normal;

        &.example {
          font-size: 14px;
          line-height: 21px;
          padding: 0 4px;
          word-break: break-all;
        }
      }
    }
  }
}

a {
  color: #E3E7EF;
  position: relative;
  text-decoration: none;

  &.imgix:after {
    background-color: #F97541;
  }

  &:after {
    content: "";
    background-color: #666D7F;
    height: 4px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 4px;
    left: 0;
    z-index: -1;
    transition: all 120ms ease-out;
  }

  &:hover:after {
    height: 18px;
  }
  &:active {
    top: 1px;
  }
}

.credits {
  list-style: none;
  max-width: 730px;
  margin: 4em auto;
  font-size: 14px;
  line-height: 21px;

  li {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    &:after {
      height: 2px;
      bottom: 2px;
    }

    &:hover:after {
      height: 10px;
    }
  }
}

@media (min-width: 580px) and (max-width: 759px) {
  header {
    h1 {
      font-size: 81px;
    }

    h2 {
      font-size: 27px;
    }

    p {
      max-width: 480px;
      font-size: 22px;
      line-height: 36px;
    }
  }

  .examples, .usage, .credits {
    max-width: 570px;
  }
}

@media (max-width: 579px) {
  header {
    h1 {
      font-size: 57px;
    }

    h2 {
      font-size: 19px;
    }

    p {
      max-width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 18px;
      line-height: 32px;
    }
  }

  .examples, .usage, .credits {
    max-width: 310px;
  }

  .usage {
    dl {
      dt {
        font-size: 18px;

        code {
          font-size: 16px;
          line-height: 21px;

          &.example {
            margin-top: 3px;
          }
        }
      }
    }
  }
}
